@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
:root{
    --dark-pink:#E2AEDD;
    --light-pink:#EBCBF4;
    --darker-pink:#D598BC;
    --brownish:#BD7283;
    --black:#000000;
    --red:#FF0000;
    --light-red:#FF7F7F;

}

body{
    padding:0;
    margin:0;
    text-align: center;
    font-size: larger;
    font-family: 'Lora', serif;
    

}

header{
    background-color:var(--light-pink);
    padding:2rem;
    font-size:2rem;
    margin-bottom:1rem;

}


.main{
    min-height: 80vh;
    max-width:60%;
    margin:auto;
}
input{
    display:block;
    margin:1.2rem auto;
    font-size:1.2rem;
}
label{
    font-size:1.5rem;
    padding-top: 0.2rem;
}
.inputbox{
    width: 100%;
    font-family: 'Lora', serif;
    font-size:larger;

}
.button{
    font-family: 'Lora', serif;
    font-size:large;
    border-radius:0.2rem;
    padding:0.2rem 0.5rem;
    margin:0.2rem;
    cursor:pointer;
    background-color:var(--light-pink);
    border:2px solid var(--brownish);
}
button:hover{
    background-color: var(--dark-pink);
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    font-size: larger;
}
#result{
    font-size:1.8rem;
}

footer{
    background-color: var(--light-pink);
    padding:0.3rem;
    text-align:center;
}
.social-icon{
    display:inline;
    font-size: 2rem;
    padding: 0rem 0.6rem;

}
p{
    font-size:1.6rem;
}
.fa{
    color:var(--black);
}
.privacy-message-div{
    opacity:0.8;
    height: fit-content;
    margin: auto;
    padding: 0 4rem;
    border: 2px solid var(--red);
    width: 65%;
    background-color: var(--light-red);
    /* position: relative;
    bottom:2.8rem; */
}
.privacy-text{
    display: inline;
    font-size: 1rem;
    text-align: left;
    padding: 0.2rem 0.8rem;
    margin-bottom: 0.7rem;
    
    


}
.privacybutton{
   color:red;
   border-radius: 0.2rem;
   margin: 0.2rem;
   border: 2px solid Var(--red);
    
}
.privacybutton:hover{
    background-color: rgb(231, 149, 149);
}


